# Setup and Imports

In [1]:
import sys
if '../Toolkit' not in sys.path: sys.path.append('../Toolkit')

%load_ext autoreload
%autoreload 1

%aimport tools
%aimport models

import tools as t
import models as m

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
from IPython.display import clear_output

import numpy as np
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 999
pd.options.display.max_rows = 113
import matplotlib.pyplot as plt
import seaborn as sns

RS = 35577 # global random state seed
raw_data_path = 'data-raw'
processed_data_path = 'data-processed'

In [2]:
import time

In [3]:
df_data = t.from_pkl(f'{processed_data_path}/df_clean.pkl')

df_data.shape
df_data.head(3)

(97053, 8)

   make model  year  price transmission  mileage fuelType  engineSize
0  Audi    A1  2017  12500       Manual    15735   Petrol         1.4
1  Audi    A6  2016  16500    Automatic    36203   Diesel         2.0
2  Audi    A1  2016  11000       Manual    29946   Petrol         1.4

In [4]:
df_data.insert(0, 'car', df_data['make'] + '__' + df_data['model'])
df_data = df_data.drop(columns=['make', 'model'])
df_data.groupby(['car']).size().sort_values(ascending=False).head(10)

In [14]:
df_1_car = df_data.loc[ (df_data['car'] == 'Ford__Fiesta') ].drop(columns=['car']).copy()
df_1_car.head(3)

mileage_5k = ((df_1_car['mileage'] / 5000).round(0) * 5000).astype(int)
df_grp = df_1_car.drop(columns='mileage').groupby(['year', 'transmission', mileage_5k, 'fuelType', 'engineSize'])['price'].agg([len, np.mean, np.std, m.mad])

'mean group size: ', df_grp['len'].mean()
'price mad in 5k groups: ', df_grp['mad'].mean()
'price std in 5k groups: ', df_grp['std'].mean()

       year  price transmission  mileage fuelType  engineSize
21449  2017  12000    Automatic    15944   Petrol         1.0
21452  2019  17500       Manual    10460   Petrol         1.5
21453  2019  16500    Automatic     1482   Petrol         1.0

('mean group size: ', 15.711864406779661)

('price mad in 5k groups: ', 344.2007726118433)

('price std in 5k groups: ', 722.0580288841817)

# Encode

In [15]:
m.ordinalEncode(df_1_car, ['transmission', 'fuelType'])
df_1_car.head(3)

       year  price  transmission  mileage  fuelType  engineSize
21449  2017  12000             0    15944         1         1.0
21452  2019  17500             1    10460         1         1.5
21453  2019  16500             0     1482         1         1.0

## X, y

In [16]:
df_train = df_1_car
X, y  = df_train.drop(columns='price').copy(), df_train['price'].copy()

y.shape
X.shape
X.columns
X.head(3)
y.head(3)

(6489,)

(6489, 5)

Index(['year', 'transmission', 'mileage', 'fuelType', 'engineSize'], dtype='object')

       year  transmission  mileage  fuelType  engineSize
21449  2017             0    15944         1         1.0
21452  2019             1    10460         1         1.5
21453  2019             0     1482         1         1.0

21449    12000
21452    17500
21453    16500
Name: price, dtype: int64

# Train model

In [17]:
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.model_selection import KFold, RepeatedKFold, StratifiedKFold, RepeatedStratifiedKFold
from sklearn.preprocessing import minmax_scale, normalize, scale, PolynomialFeatures

In [18]:
from sklearn.tree import DecisionTreeRegressor

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor

from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

## First Run

In [19]:
n_est_list = [100, 400]
models_and_params = [
    (DecisionTreeRegressor, {}),
    
    *[ (RandomForestRegressor, {'random_state': RS, 'n_estimators': n_e}) for n_e in n_est_list ],
    *[ (AdaBoostRegressor,     {'random_state': RS, 'n_estimators': n_e}) for n_e in n_est_list ],
    
    *[ (LGBMRegressor,         {'random_state': RS, 'n_estimators': n_e}) for n_e in n_est_list ],
    *[ (XGBRegressor,          {'random_state': RS, 'n_estimators': n_e}) for n_e in n_est_list ],
    *[ (CatBoostRegressor,     {'random_state': RS, 'n_estimators': n_e, 'silent': True}) for n_e in n_est_list ],
]
cv = RepeatedKFold(n_splits=6, n_repeats=1)
metrics = [ mean_absolute_error, m.root_mean_squared_error, r2_score ]

ret = t.grid_exec(
    lambda model: m.cv_regression(model, cv, X, y, metrics), 
    models_and_params, 
    on1Completed = lambda r: m.display_stats(pd.DataFrame(r).sort_values(by=['R2_mean'], ascending=False))
)

## Best 3 models

In [22]:
trained_models = []
n_est_list = [400, 800, 1200]
models_and_params = [
    *[ (LGBMRegressor,         {'random_state': RS, 'n_estimators': n_e}) for n_e in n_est_list ],
    *[ (XGBRegressor,          {'random_state': RS, 'n_estimators': n_e}) for n_e in n_est_list ],
    *[ (CatBoostRegressor,     {'random_state': RS, 'n_estimators': n_e, 'silent': True}) for n_e in n_est_list ],
]
cv = RepeatedKFold(n_splits=6, n_repeats=5)
metrics = [ mean_absolute_error, m.root_mean_squared_error, r2_score ]

ret = t.grid_exec(
    lambda model: m.cv_regression(model, cv, X, y, metrics, trained_models), 
    models_and_params, 
    on1Completed = lambda r: m.display_stats(pd.DataFrame(r).sort_values(by=['R2_mean'], ascending=False))
)

In [25]:
m.get_fe_df(trained_models)